################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication/.vs/WebApplication
/WebApplication/packages
/WebApplication/WebApplication/bin
/WebApplication/WebApplication/obj/Debug
